In [1]:
import json
from coboljsonifier.copybookextractor import CopybookExtractor
from coboljsonifier.parser import Parser
from coboljsonifier.config.parser_type_enum import ParseType
import pandas as pd
import ast

pd.options.display.max_rows = 4000

In [8]:
bookfname = 'IVAV-CBTE.txt'
dict_structure = CopybookExtractor(bookfname).dict_book_structure

In [9]:
parser = Parser(dict_structure, ParseType.FLAT_ASCII).build()

data= '202304300990000722000000072023040001220000000720230400018000000000030500001735BANCO DE GALICIA              000000001621361000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000PES00010000001 00000000000000020230430'
parser.parse(data)
dictvalue = parser.value
pretty = json.dumps(dictvalue, indent=4,default=str)
val_convert = ast.literal_eval(pretty.replace("null", "None"))

In [10]:
df = pd.DataFrame([key for key in dict_structure.keys()], columns=['Name'])
df['type'] = [value['type'] for value in dict_structure.values()]
df['format'] = [value['format'] for value in dict_structure.values()]
df['size'] = [value['size'] for value in dict_structure.values()]
df['decimals'] = [value['decimals'] for value in dict_structure.values()]
df['result'] = [value for value in val_convert.values()]
df

,Name,type,format,size,decimals,result
0,CBTE-FECHA-CBTE,NUMERIC,9(08),8,0,20230430
1,CBTE-TIPO-CBTE,NUMERIC,9(03),3,0,99
2,CBTE-PUNTO-VENTA,NUMERIC,9(05),5,0,7
3,CBTE-NRO-CBTE,ALPHANUMERIC,X(20),20,0,22000000072023040001
4,CBTE-NRO-CBTE-HASTA,ALPHANUMERIC,X(20),20,0,22000000072023040001
5,CBTE-COD-DOCUMENTO,NUMERIC,9(02),2,0,80
6,CBTE-NRO-IDENT-COMP,ALPHANUMERIC,X(20),20,0,00000000030500001735
7,CBTE-DENOMINACION,ALPHANUMERIC,X(30),30,0,BANCO DE GALICIA
8,CBTE-IMP-TOTAL-OPE,NUMERIC,9(13)V99,15,2,16213.61
9,CBTE-IMP-TOTAL-NGRVDO,NUMERIC,9(13)V99,15,2,0.00
10,CBTE-IMP-PERC-NCATEG,NUMERIC,9(13)V99,15,2,0.00
11,CBTE-IMP-OPER-EXENTAS,NUMERIC,9(13)V99,15,2,0.00
12,CBTE-IMP-ACTA-IMPU-NAC,NUMERIC,9(13)V99,15,2,0.00
13,CBTE-IMP-PERC-IIBB,NUMERIC,9(13)V99,15,2,0.00
14,CBTE-IMP-PERC-IMPU-MUNI,NUMERIC,9(13)V99,15,2,0.00
15,CBTE-IMP-IMPU-INTERNOS,NUMERIC,9(13)V99,15,2,0.00
16,CBTE-COD-MONEDA,ALPHANUMERIC,X(03),3,0,PES
17,CBTE-TIPO-CAMBIO,NUMERIC,9(04)V9(6),10,6,1.000000
18,CBTE-CANT-ALICUOTAS,NUMERIC,9(01),1,0,1
19,CBTE-COD-OPERACION,ALPHANUMERIC,X(01),1,0,None
20,CBTE-OTROS-TRIBUTOS,NUMERIC,9(13)V99,15,2,0.00
21,CBTE-FE-VENC-PAGO,ALPHANUMERIC,X(8),8,0,20230430