## Requisitos

Si no lo tienes instalar, revise la documentacion para mas informacion [Docu](https://pypi.org/project/coboljsonifier/)
> pip install coboljsonifier

In [2]:
import json
from coboljsonifier.copybookextractor import CopybookExtractor
from coboljsonifier.parser import Parser
from coboljsonifier.config.parser_type_enum import ParseType
import pandas as pd
import ast

pd.options.display.max_rows = 4000

In [16]:
bookfname = 'bgdtacu.cob'
interface = 'BGDTACU-20230727.DAT'
rows = 2

### Building a Parser

Use book structure to build a parser (**FLAT_ASCII** / **BINARY_EBCDIC**)

In [17]:
dict_structure = CopybookExtractor(bookfname).dict_book_structure

df = pd.DataFrame([key for key in dict_structure.keys()], columns=['Name'])
df['type'] = [value['type'] for value in dict_structure.values()]
df['format'] = [value['format'] for value in dict_structure.values()]
df['size'] = [value['size'] for value in dict_structure.values()]
df['decimals'] = [value['decimals'] for value in dict_structure.values()]

In [5]:
def parse_ascii(dict_structure,interface,df):
    parser = Parser(dict_structure, ParseType.FLAT_ASCII).build()

    with open(interface) as archivo:
        i = 1
        for linea in archivo:
            
            data= linea
            parser.parse(data)
            dictvalue = parser.value
            pretty = json.dumps(dictvalue, indent=4,default=str)
            val_convert = ast.literal_eval(pretty.replace("null", "None"))

            col = 'col' + str(i)
            df[col] = [value for value in val_convert.values()]

            if i==rows:
                break
            
            i = i + 1

In [18]:
def parse_bin(dict_structure,interface, df):
    parser = Parser(dict_structure, ParseType.BINARY_EBCDIC).build()
    size = parser.size
    print("// Registry calculated lenght:", size)

    with open(interface, 'rb') as f2:
        for x in range(rows):

            # EBCDIC
            data = f2.read(size)
            if not data:
                break
           
            if data[0:2] == b'\xF0\xF0':    # ====> El nuestro es este formato
                parser.parse(data)
                dictvalue = parser.value

                pretty = json.dumps(dictvalue, indent=4,default=str)
                val_convert = ast.literal_eval(pretty.replace("null", "None"))
                col = 'col' + str(x)
                df[col] = [value for value in val_convert.values()]

            else:
                print(f'// Registry type {data[0:2]} not processed')

In [6]:
parse_ascii(dict_structure,interface, df)

In [19]:
parse_bin(dict_structure,interface, df)

// Registry calculated lenght: 243

In [20]:
#TODO: 2 Unir la implementacion para que todo quede en un solo nootbook
df

,Name,type,format,size,decimals,col0,col1,col2
0,ENTIDAD,ALPHANUMERIC,X(04),4,0,0072,0072,0072
1,CENTRO-ALTA,ALPHANUMERIC,X(04),4,0,0000,0000,0000
2,CUENTA,ALPHANUMERIC,X(12),12,0,005000021937,005000021937,005000021937
3,DIVISA,ALPHANUMERIC,X(3),3,0,ARS,ARS,ARS
4,SECUENCIA,NUMERIC_COMP3,S9(5),3,0,2037,2039,2040
5,TIPO-ACUERDO,ALPHANUMERIC,X(1),1,0,E,E,E
6,ESTADO,ALPHANUMERIC,X(1),1,0,V,V,A
7,LIMITE,NUMERIC_COMP3,S9(13)V9(2),8,2,375000000.00,375000000.00,1210000000.00
8,LIMITE-RENOV,NUMERIC_COMP3,S9(13)V9(2),8,2,375000000.00,375000000.00,1210000000.00
9,PERIOD-LIQ,ALPHANUMERIC,X(1),1,0,V,V,V
10,TIPO-LIQ,ALPHANUMERIC,X(3),3,0,F00,F00,F00
11,CLASE-LIQ,ALPHANUMERIC,X(1),1,0,S,S,S
12,DIA-LIQ,ALPHANUMERIC,X(2),2,0,00,00,00
13,PRIORIDAD,NUMERIC_COMP3,S9(5),3,0,2037,2039,2040
14,TARIFA,ALPHANUMERIC,X(4),4,0,None,None,None
15,CLASE-TAF,ALPHANUMERIC,X(1),1,0,N,N,N
16,TIPO-INTERES,NUMERIC_COMP3,S9(3)V9(5),5,5,91.50000,91.50000,91.50000
17,COEFICI,ALPHANUMERIC,X(4),4,0,None,None,None
18,PUNTOS,NUMERIC_COMP3,S9(3)V9(5),5,5,0.00000,0.00000,0.00000
19,TIPOINT-INC-SBRG,NUMERIC_COMP3,S9(3)V9(5),5,5,0.00000,0.00000,0.00000
20,TASA-MAX-CONV,ALPHANUMERIC,X(4),4,0,TMC1,TMC1,TMC1
21,IMPORTE-CAMBIO,NUMERIC_COMP3,S9(13)V9(2),8,2,0.00,0.00,0.00
22,LIMITE-ORI,NUMERIC_COMP3,S9(13)V9(2),8,2,375000000.00,375000000.00,1210000000.00
23,INTE-DEVDEUD,NUMERIC_COMP3,S9(13)V9(2),8,2,0.00,0.00,0.00
24,REFER-LIQ,NUMERIC_COMP3,S9(9),5,0,1,0,0
25,IND-RENAUTO,ALPHANUMERIC,X(1),1,0,N,N,N
26,IND-INTV-SAL-DIA,ALPHANUMERIC,X(1),1,0,N,N,N
27,IND-PET-LIQ,ALPHANUMERIC,X(1),1,0,N,N,N
28,TIPO-VTO,ALPHANUMERIC,X(01),1,0,None,None,None
29,NUM-VTO,NUMERIC_COMP3,S9(5),3,0,0,0,0
30,DIAS-USO,NUMERIC_COMP3,S9(5),3,0,0,0,0
31,DIAS-DESP-PRO,NUMERIC_COMP3,S9(3),2,0,2,2,2
32,FECHA-ULTREN,ALPHANUMERIC,X(10),10,0,2023-07-24,2023-07-26,2023-07-27
33,FECHA-INICIO,ALPHANUMERIC,X(10),10,0,2023-07-24,2023-07-26,2023-07-27
34,FECHA-VCTO,ALPHANUMERIC,X(10),10,0,2023-07-24,2023-07-26,2023-07-27
35,FECHA-ULTLIQ,ALPHANUMERIC,X(10),10,0,2023-07-24,2023-07-25,2023-07-26
36,FECHA-UPRO-LIQ,ALPHANUMERIC,X(10),10,0,2023-07-26,2023-07-25,2023-07-26
37,FECHA-PROLIQ,ALPHANUMERIC,X(10),10,0,9999-12-31,2023-07-26,2023-07-27
38,FECHA-PROC-LIQ,ALPHANUMERIC,X(10),10,0,9999-12-31,2023-07-28,2023-07-31
39,ENTIDAD-UMO,ALPHANUMERIC,X(4),4,0,0072,0072,0072
40,CENTRO-UMO,ALPHANUMERIC,X(4),4,0,0001,2247,2247
41,USERID-UMO,ALPHANUMERIC,X(8),8,0,BG4CINT0,BG4CA300,A267889
42,NETNAME-UMO,ALPHANUMERIC,X(8),8,0,BATCH,BATCH,T7VZ
43,TIMEST-UMO,ALPHANUMERIC,X(26),26,0,2023-07-27-03.36.04.868038,2023-07-27-01.45.43.701677,2023-07-27-17.57.58.240699

## Posibles errores

En **Extracting copybook structure** le da error los  |    PIC X.   => Cambiarlos por =>   PIC X(1).  en el copybook