In [1]:
import json
import pandas as pd

with open('filejsonplano.csv') as f:
  file_contents = f.read()

In [2]:
parsed_json = json.loads(file_contents)
#  ---------------->   list json
df = pd.json_normalize(parsed_json['records'])

In [3]:
df.describe()

             id
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [1]:
import findspark
findspark.init()

# Creamos la session de Spark
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()
print('Apache Spark Version :' + spark.sparkContext.version)

Apache Spark Version :3.3.1

In [12]:
df_txt=spark.createDataFrame([("gian",'SUCURSAL', 23,1702511998603, "2023-04-20"),
                               ("gian",'APEX_OPO', 32, 1702511998603, "2023-04-20"),
                               ("pepe",'APOLOGIA', 12, 1702511998603, "2023-04-20"),
                               ("gian",'CLOACA', 23,1702511998603, "2023-04-20"),
                               ("gian",'CLOACA', 23,1702511998603, "2023-04-20")
                               ],["name","sucu","edad", "datetime","partition_date"])
df_txt.show()
df_txt.printSchema()

+----+--------+----+-------------+--------------+
|name|    sucu|edad|     datetime|partition_date|
+----+--------+----+-------------+--------------+
|gian|SUCURSAL|  23|1702511998603|    2023-04-20|
|gian|APEX_OPO|  32|1702511998603|    2023-04-20|
|pepe|APOLOGIA|  12|1702511998603|    2023-04-20|
|gian|  CLOACA|  23|1702511998603|    2023-04-20|
|gian|  CLOACA|  23|1702511998603|    2023-04-20|
+----+--------+----+-------------+--------------+

root
 |-- name: string (nullable = true)
 |-- sucu: string (nullable = true)
 |-- edad: long (nullable = true)
 |-- datetime: long (nullable = true)
 |-- partition_date: string (nullable = true)

In [16]:
df_txt = df_txt.orderBy('sucu',ascending = True)

In [17]:
df = df_txt.groupby('name').agg(concat_ws(', ', collect_list('sucu')).alias('telefono'))

In [18]:
df.show(truncate=False)

+----+----------------------------------+
|name|telefono                          |
+----+----------------------------------+
|pepe|APOLOGIA                          |
|gian|APEX_OPO, CLOACA, CLOACA, SUCURSAL|
+----+----------------------------------+